 body {
            font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
            background-color: #f0f2f5;
            display: flex;            
            justify-content: center;
            align-items: center;
            height: 100vh;           
            margin: 0;
        }
        
        .container {
            background-color: #ffffff;
            width: 320px;           
            padding: 2rem;
            border-radius: 16px;    
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05); 
            text-align: center; 
        }  
        
        input[type="text"] {
            width: 100%;
            padding: 12px;
            margin-bottom: 12px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-sizing: border-box; 
            font-size: 20px;
            font-weight: 900;
            transition: border-color 0.3s;
            text-align: center;
        }

        button {
            width: 100%;
            padding: 12px;
            background-color: #4a90e2;
            color: white;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #357abd;
        }

         pre {
            margin-top: 0px;
            background-color: #f8f9fa;
            padding: 15px;
            border-radius: 8px;
            color: #555;
            font-family: 'Courier New', monospace;
            font-size: 15px;
            line-height: 1.6;
            text-align: center;       
        }